---
layout: page
title: Categories
subtitle: Posts organised by topic
permalink: /categories/
---

<section class="taxonomy-section">
  {% assign sorted_cats = site.categories | sort %}
  {% for cat in sorted_cats %}
    {% assign cat_name = cat[0] %}
    {% assign posts = cat[1] %}
    <div class="taxonomy-group" id="{{ cat_name | slugify }}" data-reveal>
      <h2 class="taxonomy-heading">
        {{ cat_name }}
        <span class="count">{{ posts.size }}</span>
      </h2>
      <ul class="taxonomy-list">
        {% for post in posts %}
        <li class="taxonomy-item">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
